/* css */

@font-face {
    font-family: 'Default';
    src: url('../fonts/LiberationSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Default';
}

h1 {
    font-size: 40px;
}

.header {
    height: 100px;
    width: 100%;
    box-shadow: 0px 2px 4px rgb(80, 0, 0);
    padding-left:20px;
    text-align:left;
    color:white;
    background-color: rgb(80, 0, 0);
    position: absolute;
    top: 0;
}

.footer {
    height: 40px;
    width: 100%;
    box-shadow: 0px 0px 12px rgb(80, 0, 0);
    padding-left:20px;
    text-align:left;
    color:white;
    background-color: rgb(80, 0, 0);
    bottom: 0;
    margin-left:5px;
}

.footer i {
    float:right;
    color:white;
    font-size:28px;
    bottom:0;
    margin-right:12px;
}

.header-icon {
    height:100%;
    position: absolute;
    right: 0;
    top:0;
}

.background {
    background-color: rgb(240, 240, 240);
}

.navbar-side {
  margin-right:10px;
  font-size: 23px;
  text-align: right;
  position: fixed;
  right: 0;
}

ul.navbar-side-list{
  list-style-type:none;
  color:black;
  li {
      color:green;
  }
}

ul.navbar-side-list li{
    border-bottom: 1px solid #BDBDBD;
}

.navbar-side-list a{
    color:black;
}

.navbar-side-list a:hover{
    cursor:pointer;
}

div.right {
    float:right;
    text-align:right;
}

div.left {
    float:left;
    text-align:left;
}

div.center {
    float:center;
    text-align:center;
}

.main {
  margin:120px 0px 0px 20px;
}

.content-header {
  margin-top:40px;
  color:white;
  background-color:rgb(80, 0, 0);
}

.content>h1,h2,h3,h4,h5,p{
  margin-left:40px;
}

.content >ul li {
  margin-left:20px;
}

.jianer-nav {
  padding-left:25px;
  width:100%;
  background-color: rgb(80, 0, 0);
  color:white;
  margin-bottom:20px;
}

.jianer-nav a {
  color:white;
  font-size:16px;
}

.jianer-nav a:hover {
  color:rgb(80, 0, 0);
  cursor:pointer;
}

.jianer-nav a.selected {

}

.profile {
  background-image: url("../images/jianer.jpg");
  background-size:235px 320px;
  background-repeat: no-repeat;
  width: 235px;
  height:235px;
  border: 1px solid black;
  border-radius: 300px;
  margin: 45px 0px 0px 40px;
}
